
{%extends"base.html"%}
{%block content%}






<div class="pure-menu pure-menu-horizontal">
    <a href="index.html" class="pure-menu-heading">
        <img src="css/gnu-topo.svg" class="logo-topo">
    </a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="aulas.html" class="pure-menu-link">Aulas</a></li>
        <li class="pure-menu-item"><a href="players.html" class="pure-menu-link">Participantes</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="regras.html" class="pure-menu-link">Regras</a></li>
    </ul>
</div>

<div class="l-content information">
    {% for aul in aulas %}
    <div class="aula">
        <h2> Aula {{aul.class}} - {{aul.name}} </h2>

        Conteúdo:
        <ul>
            {%for con in aul.content%}
            <li> {{con}} </li>
            {% endfor%}
            
        </ul>

        Atividades:
        <ul>
            {%for act in aul.activity %}
            <li> {{act}} </li>
            {% endfor%}
        </ul>
        {%for x in range(aul.links|length)%}
        <a href="{{aul.links[x]}}"> {{aul.link_type[x]}}</a> | 
        {%endfor%}
    </div>
    {% endfor%}

    




    
    

</div> <!-- end l-content -->

{% endblock %}