{%extends"base.html"%}
{% block content %}

<div class="pure-menu pure-menu-horizontal">
    <a href="index.html" class="pure-menu-heading">
        <img src="css/gnu-topo.svg" class="logo-topo">
    </a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="aulas.html" class="pure-menu-link">Aulas</a></li>
        <li class="pure-menu-item  pure-menu-selected"><a href="players.html" class="pure-menu-link">Participantes</a></li>
        <li class="pure-menu-item"><a href="regras.html" class="pure-menu-link">Regras</a></li>
    </ul>
</div>

<div class="l-content information player-details">
    {% for plr in players %}
        <div class="player-profile" id="player-{{ plr.github_name }}">
                <a href="#"><span class="close">X</span></a>
            <h2>
                {{ plr.github_name }}
                <a href="http://github.com/{{ plr.github_name }}"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="32px"></a>
                <a href="mailto:{{ plr.email_insper}}"><img src="css/mail.png" height="32px"></a>
                {% if plr.facebook_name != "" %}
                <a href="https://facebook.com/{{ plr.facebook_name }}"><img src="css/facebook-512.png" height="32px"></a>
                {% endif %}
                {% if plr.linkedin_name != "" %}
                <a href="https://www.linkedin.com/in/{{ plr.linkedin_name }}"><img src="css/linkedin.png" height="32px"></a>
                {% endif %}
                {% if plr.twitter_name != "" %}
                <a href="https://twitter.com/{{ plr.twitter_name }}"><img src="css/twitter_circle-512.png" height="32px"></a>
                {% endif %}
            </h2>
            <img class="avatar" src="{{ plr.raw_img }}"width="100px" height="100px">

            <div class="skill-list">
                <h3>Skills:</h3>
                {% for sk in plr.skills %}
                    <div class="skill">
                        <img src="{{ sk.raw_img }}" class="badge">
                            {% if sk.type == "Classroom" %}
                                <div class="skill-classroom skill-info">
                            {% endif %}
                            {% if sk.type == "Code" %}
                                <div class="skill-code skill-info">
                            {% endif %}
                            {% if sk.type == "Community" %}
                                <div class="skill-community skill-info">
                            {% endif %}
                            {% if sk.type == "Documentation" %}
                                <div class="skill-documentation skill-info">
                            {% endif %}
                                    {{ sk.requisite }}
                                    <br></br>
                                    XP: {{ sk.xp_value }}
                                    <br></br>
                                    Tipo: {{ sk.type }}
                                </div>
                    </div>
                {% endfor %}
                <p>
                    <a href="skills.html"> Ver todas </a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="l-content information">
    {% for plr in players %}
        <div class="pure-u-1 pure-u-md-1-2 player_box">
            <div class="l-box">
                <h3 class="information-head">{{ plr.github_name }}</h3>
                <img class="avatar" src="{{ plr.raw_img }}" width="100px" 
height="100px">
                <div class="player_info">
                    <span class="player_xp">{{ plr.xp }} XP</span> <br>
                    <span class="player_level">{{ plr.level_name }}</span><br>
                    <span class="more">
                        <a href="#{{ plr.github_name}}"> Detalhes </a>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    function parse_hash(ev) {
        let h = window.location.hash.substr(1);
        show_profile("player-" + h);
    }

    window.addEventListener("hashchange", parse_hash);
    parse_hash(null);

    function show_profile (pid) {
        var profiles = document.querySelectorAll(".player-profile");
        for (var i = 0; i < profiles.length; i++) {
            profiles[i].style.display = "none";
        }
        let elem = document.getElementById(pid);
        if (elem != null) {
            elem.style.display = "block";
        }
    }

    function close_profile (pid) {
        document.getElementById(pid).style.display = "none";
    }
</script>
{% endblock %}
