
{%extends"base.html"%}

{%block content%}

<div class="pure-menu pure-menu-horizontal">
    <a href="index.html" class="pure-menu-heading">
        <img src="css/gnu-topo.svg" class="logo-topo">
    </a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="aulas.html" class="pure-menu-link">Aulas</a></li>
        <li class="pure-menu-item"><a href="players.html" class="pure-menu-link">Participantes</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="regras.html" class="pure-menu-link">Regras</a></li>
    </ul>
</div>

<div class="l-content information">
    <h1>Horários de aulas</h1>

    Segunda 15:45 - 17:45<br>
    Quarta 15:45 - 17:45<br> <br>

    <b>Atendimento:</b> Segunda 18:00 - 19:30

    <h1>Funcionamento da disciplina</h1>

    <p>
        Esta disciplina funcionará de maneira similar a um jogo. No primeiro dia de 
        aula será criado um avatar por aluno e cada contribuição feita valerá pontos
        de experiência. Ao completar alguns tipos específicos de contribuições o aluno recebe também
        uma <i>skill</i>. Cada <i>skill</i> recebida está diretamente ligada a um dos objetivos 
        de aprendizado da disciplina. 
    </p>
    <p>
        O avatar de cada aluno pode subir de nível se conquistar uma quantidade específica de 
        experiência <b>E</b> obtiver as <i>skills</i> necessárias. Cada nível corresponde diretamente
        a um conceito na disciplina e é necessário dominar todas as <i>skills</i> dos níveis abaixo
        para pode conquistar um nível. A lista completa pode ser vista 
        <a href="skills.html"> neste link</a>
    </p>

    <table id="level-descr-table">
        <thead>
            <tr>
                <th>Conceito</th>
                <th>Nível</th>
                <th>Requisitos</th>
            </tr>
        </thead>
        <tr>
            <td>I</td>
            <td>Ghost</td>
            <td class="level-descr-col">
                Auto explicativo.
            </td>
        </tr>
        <tr>
            <td>D</td>
            <td>Newbie</td>
            <td class="level-descr-col">
                Todas as skills do tipo "Classroom", o que equivale 
                a completar todas atividades propostas em sala de aula.
            </td>
        </tr>
        <tr>
            <td>C</td>
            <td>Iniciado</td>
            <td class="level-descr-col">
                Este nível é alcançado ao reproduzir, de maneira independente, as habilidades desenvolvidas em sala de aula.
                <ul>
                    <li>50 XP</li>
                    <li>Skill "PR enviado"</li>
                    <li>Skill "Tradutor"</li>
                    <li>Skill "Helpdesk"</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>B</td>
            <td>Competente</td>
            <td class="level-descr-col">
                Este nível é alcançado ao ter uma modificação de código não trivial aceita em um projeto.
                <ul>
                    <li>80 XP</li>
                    <li>Skill "PR aceito"</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>A</td>
            <td>Mestre</td>
            <td class="level-descr-col">
                Este nível é obtido ao realizar contribuições de maneira consistente durente o semestre, 
                com ao menos uma contribuição significativa.
                <ul>
                    <li>150 XP</li>
                    <li>Skill "Inovador" <b>OU</b></li>
                    <li>Skill "Capítulo OSS" <b>OU</b></li>
                    <li>Skill "Revisão OSS" x 2 </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>A+</td>
            <td>Grão Mestre</td>
            <td class="level-descr-col">
                Este nível é obtido ao realizar contribuições substanciais a algum projeto, seja 
                de código, tradução ou documentação. 
                <ul>
                    <li>250 XP</li>
                    <li>Skill "Especialista" <b>OU</b></li>
                    <li>Skill "Responsável" <b>OU</b></li>
                    <li>Skill "Capítulo OSS" x 2 <b>OU</b> </li>
                    <li>Skill "Revisão OSS" x 2</li>
                </ul>
            </td>
        </tr>
    </table>

    <p>
        <b> Importante</b>:
        A aprovação de modificações e melhorias pode levar tempo e não ocorrer em tempo hábil
        para ser contabilizada pela disciplina. Estes critérios podem ser flexibilizados se 
        o aluno demonstrar comprometimento ao <u>longo de todo o semestre</u>. <b>É esperado
        que os conceitos menores sejam alcançados durante o semestre e não somente na última semana. </b>
    </p>
</div> <!-- end l-content -->

{% endblock %}